/* dark-theme */
#projects {
  position: relative;
  padding: 80px 15%;
  width: 100%;
  background-color: var(--primary-dark);
}
.projects-div {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 40px;
}

/* light-theme */
.light-theme #projects {
  background-color: var(--primary-light);
}

@media screen and (max-width: 800px) {
  #projects {
    padding: 80px 5%;
  }
  .projects-div {
    padding: 40px 10%;
    grid-template-columns: 1fr;
  }
}
