/* dark-theme */
#projects {
  position: relative;
  padding-inline: 20%;
  padding-top: calc(var(--header-height) + 20px);
  background-color: var(--clr-bg-dark);
}
.projects-div {
  overflow: hidden;
  height: 90dvh;
}

/* light-theme */
.light-theme #projects {
  background-color: var(--clr-bg-light);
}

@media screen and (max-width: 1200px) {
  #projects {
    padding-inline: 5%;
  }
}
