.project-card {
  height: 60vh;
  margin-block: 3%;
  padding-block: 2%;
  padding-inline: 10%;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacer);
  transform-origin: top;
  overflow: hidden;
  color: var(--clr-bg-dark);
  box-shadow: var(--clr-text-dark) 0px 3px 8px;
  border-radius: var(--br);
  text-align: center;
}
.dots {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 7%;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(
    var(--clr-text-dark) 25px,
    transparent 25px
  );
  background-size: 84px 84px;
  opacity: 0.1;
}
.project-card:nth-child(1) {
  background-color: var(--clr-primary-dark);
}
.project-card:nth-child(2) {
  background-color: var(--clr-secondary-dark);
  color: var(--clr-text-dark);
}
.project-card:nth-child(3) {
  background-color: var(--clr-text-dark);
}
.project-card:nth-child(4) {
  background-color: var(--clr-accent-dark);
  color: var(--clr-text-dark);
}
.project-card:nth-child(2) .card-content .project-link,
.project-card:nth-child(4) .card-content .project-link {
  color: var(--clr-text-dark);
}
.project-item-title {
  width: 100%;
  letter-spacing: 5px;
}
.tag {
  display: inline-block;
  padding-block: 2px;
  padding-inline: 5px;
  margin: 5px;
  border-radius: var(--br);
}
.tag.html {
  background-color: #ff550a;
}
.tag.css {
  background-color: #4a67de;
}
.tag.javascript {
  background-color: #807b00;
}
.tag.git {
  background-color: #6c6c6c;
}
.tag.react {
  background-color: #1b37a9;
}
.tag.frontend {
  background-color: #e13242;
}
.tag.backend {
  background-color: #e13242;
}
.tag.nodejs {
  background-color: #215732;
}
.tag.mongodb {
  background-color: #4db33d;
}
.card-content {
  height: 50%;
  justify-content: space-between;
  gap: var(--spacer);
  text-align: center;
}
.project-img {
  height: 100%;
}
.project-link {
  text-decoration: none;
  color: var(--clr-bg-dark);
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-link:first-child {
  padding-bottom: 30px;
}
.project-link:hover {
  color: var(--clr-accent-color);
}

/* light theme */
.light-theme .project-card {
  color: var(--clr-bg-light);
  box-shadow: var(--clr-text-light) 0px 3px 8px;
}
.light-theme .project-card:nth-child(1) {
  background-color: var(--clr-primary-light);
}
.light-theme .project-card:nth-child(2) {
  background-color: var(--clr-secondary-light);
}
.light-theme .project-card:nth-child(3) {
  background-color: var(--clr-text-light);
}
.light-theme .project-card:nth-child(4) {
  background-color: var(--clr-accent-light);
}
.light-theme .project-link {
  color: var(--clr-bg-light);
}
.light-theme .project-link:hover {
  color: var(--clr-accent-light);
}

@media screen and (max-width: 1000px) {
  .project-card {
    padding-inline: 5%;
    justify-content: center;
  }
  .card-content {
    flex-direction: column;
    height: 30%;
  }
  .project-links {
    display: flex;
    gap: 30px;
  }
  .project-link:first-child {
    padding-bottom: 0;
  }
}
