.project-card {
  height: 60vh;
  margin-block: 3%;
  padding-block: 2%;
  padding-inline: 10%;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacer);
  transform-origin: top;
  overflow: hidden;
  color: var(--clr-bg-dark);
  box-shadow: var(--clr-text-dark) 0px 3px 8px;
  border-radius: var(--br);
  text-align: center;
  font-size: var(--fs-tiny);
}

.project-card::before {
  content: '';
  position: absolute;
  top: 5px;
  height: 100%;
  width: 0;
  opacity: 0.1;
  border-right: 45px dotted;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
  mask-image: linear-gradient(to top, transparent 5%, black 100%);
  z-index: -1;
}

.project-card::before {
  right: 5px;
}

.project-card:nth-child(1) {
  background-color: var(--clr-primary-dark);
}

.project-card:nth-child(2) {
  background-color: var(--clr-secondary-dark);
  color: var(--clr-text-dark);
}

.project-card:nth-child(3) {
  background-color: var(--clr-text-dark);
}

.project-card:nth-child(4) {
  background-color: var(--clr-accent-dark);
  color: var(--clr-text-dark);
}

.project-card:nth-child(2) .card-content .project-link,
.project-card:nth-child(4) .card-content .project-link {
  color: var(--clr-text-dark);
}

.project-item-title {
  width: 100%;
  letter-spacing: 5px;
}

.tag {
  display: inline-block;
  padding-block: 2px;
  padding-inline: 5px;
  margin: 5px;
  border-radius: var(--br);
}

.tag.typescript {
  background-color: #3178c6;
}

.tag.javascript {
  background-color: #f0db4f;
  color: #323330;
}

.tag.react {
  background-color: #61DBFB;
}

.tag.router-dom-v6 {
  background-color: #D0021B;
}

.tag.firebase {
  background-color: #FFA611;
}

.tag.tailwind {
  background-color: #06b6d4;
}

.tag.sass {
  background-color: #cc6699;
}

.tag.stripe {
  background-color: #5433FF;
}

.tag.nodejs {
  background-color: #215732;
}

.tag.mongodb {
  background-color: #4db33d;
}

.card-content {
  height: 50%;
  justify-content: space-between;
  gap: var(--spacer);
  text-align: center;
}

.project-img {
  height: 100%;
}

.project-link {
  text-decoration: none;
  color: var(--clr-bg-dark);
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-link:first-child {
  padding-bottom: 30px;
}

.project-link:hover {
  text-decoration: underline;
}

/* light theme */
.light-theme .project-card {
  color: var(--clr-bg-light);
  box-shadow: var(--clr-text-light) 0px 3px 8px;
}

.light-theme .project-card:nth-child(1) {
  background-color: var(--clr-primary-light);
}

.light-theme .project-card:nth-child(2) {
  background-color: var(--clr-secondary-light);
}

.light-theme .project-card:nth-child(3) {
  background-color: var(--clr-text-light);
}

.light-theme .project-card:nth-child(4) {
  background-color: var(--clr-accent-light);
}

.light-theme .project-link {
  color: var(--clr-bg-light);
}

@media screen and (max-width: 1000px) {
  .project-card {
    padding-inline: 5%;
    justify-content: center;
  }

  .card-content {
    flex-direction: column;
    height: 30%;
  }

  .project-links {
    display: flex;
    gap: 30px;
  }

  .project-link:first-child {
    padding-bottom: 0;
  }
}