/* dark theme */
.scrollTop {
  display: none;
  position: fixed;
  z-index: 5;
  bottom: 1rem;
  right: 0.5rem;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--secondary-dark);
  color: var(--title-dark);
  border-color: var(--title-dark);
  box-shadow: var(--title-dark) 2px 2px 2px;
  cursor: pointer;
}
.scrollTop.scrollTopVisible {
  display: block;
}

/* light theme */
.light-theme .scrollTop {
  background-color: var(--primary-light);
  color: var(--title-light);
  border-color: var(--title-light);
  box-shadow: var(--title-light) 2px 2px 2px;
}
