/* dark theme */
.scrollTop {
  display: none;
  position: fixed;
  z-index: 5;
  bottom: 1rem;
  right: 0.5rem;
  padding: 8px;
  font-size: var(--fs-medium);
  border-radius: var(--br);
  background-color: var(--clr-secondary-dark);
  color: var(--clr-text-dark);
  box-shadow: linear-gradient(
    to right,
    var(--clr-primary-dark),
    var(--clr-accent-dark)
  );
  cursor: pointer;
}
.scrollTop:hover {
  transform: scale(0.95);
  box-shadow: none;
}
.scrollTop.scrollTopVisible {
  display: block;
}

/* light theme */
.light-theme .scrollTop {
  background-color: var(--clr-secondary-light);
  color: var(--clr-text-light);
  box-shadow: linear-gradient(
    to right,
    var(--clr-primary-light),
    var(--clr-accent-light)
  );
}
