/* dark theme */
.btn {
  cursor: pointer;
  position: relative;
  width: 240px;
  padding-block: 15px;
  padding-inline: 20px;
  background: var(--clr-bg-dark);
  color: var(--clr-accent-dark);
  text-transform: uppercase;
  font-size: var(--fs-small);
  font-weight: bold;
  border-radius: var(--br);
  border: 1px solid var(--clr-accent-dark);
  transition: all 0.35s;
  gap: 15px;
  overflow: hidden;
}
.btn::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: var(--clr-text-dark);
  box-shadow: 0 0 50px 30px var(--clr-text-dark);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.btn:hover {
  background: var(--clr-accent-dark);
  color: var(--clr-text-dark);
  box-shadow: 0 0 30px 5px var(--clr-accent-dark);
}
.btn:hover::before {
  -webkit-animation: flash 0.5s 0s linear;
  -moz-animation: flash 0.5s 0s linear;
  animation: flash 0.5s 0s linear;
}
@keyframes flash {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
.btn:active {
  transform: scale(0.95);
}
.btn-icon {
  font-size:var(--fs-small);
  fill: var(--clr-accent-dark);
  transition: all 0.35s ease-in-out;
}
.btn:hover .btn-icon {
  transform: translateX(5px);
  fill: var(--clr-text-dark);
}
/* back button */
.btn.back {
  border: none;
  width: 180px;
  color: var(--clr-text-dark);
}
.btn.back:hover {
  background: transparent;
  box-shadow: none;
  color: var(--clr-accent-dark);
}
.btn-icon.back {
  fill: var(--clr-text-dark);
}
.btn:hover .btn-icon.back {
  fill: var(--clr-accent-dark);
}

/* light theme */
.light-theme .btn {
  background: var(--clr-bg-light);
  color: var(--clr-accent-light);
  border-color: var(--clr-accent-light);
}
.light-theme .btn::before {
  background: var(--clr-bg-light);
  box-shadow: 0 0 50px 30px var(--clr-bg-light);
}
.light-theme .btn:hover {
  background: var(--clr-accent-light);
  color: var(--clr-bg-light);
  box-shadow: none;
}
.light-theme .btn-icon {
  fill: var(--clr-accent-light);
}
.light-theme .btn:hover .btn-icon {
  fill: var(--clr-bg-light);
}

@media screen and (max-width: 1200px) {
  .btn {
    width: 190px;
    padding-block: 10px;
    padding-inline: 15px;
    gap: 10px;
  }
}