/* dark theme */
.btn {
  cursor: pointer;
  z-index: 0;
}
.btn-wrapper {
  position: relative;
  z-index: 2;
  border: none;
  background-color: transparent;
}
.btn-link {
  width: 150px;
  height: 70px;
  background: var(--title-light);
  color: var(--primary-light);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.05rem;
  font-weight: bold;
  line-height: 50px;
  border-radius: 15px;
  transition: all 0.35s;
}
.btn-link:hover {
  border: 3px solid var(--orange-color);
  background: var(--orange-color);
  color: var(--primary-light);
}
.btn-link:hover + .btn-div {
  border: 3px solid var(--orange-color);
  right: -35%;
}

.btn-div {
  padding: 30px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}
.btn-icon {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: var(--orange-color);
  transition: all 0.35s;
}
