/* dark theme */
#about {
  position: relative;
  min-height: 100dvh;
  width: 100%;
  padding-top: calc(var(--header-height) + 20px);
  padding-inline: 20%;
  background-color: var(--clr-bg-dark);
  box-shadow: 0px -25px 20px -20px var(--clr-secondary20-dark);
  display: flex;
  flex-direction: column;
}
.about-text {
  text-align: justify;
  padding-block: var(--spacer);
}

/* light theme */
.light-theme #about {
  background-color: var(--clr-bg-light);
}

@media screen and (max-width: 1200px) {
  #about {
    padding-inline: 5%;
  }
}
