/* dark theme */
#about {
  position: relative;
  background-color: var(--secondary-dark);
  padding: 80px 20%;
  flex-direction: column;
}
.about-text {
  text-align: justify;
  padding: 50px 0;
}
.btn-curriculum {
  text-align: center;
}

/* light theme */
.light-theme #about {
  background-color: var(--secondary-light);
}

@supports (animation-timeline: view()) {
  .about-text {
    animation: linear reveal both;
    animation-timeline: view();
    animation-range: entry 25% cover 40%;
  }
}
@media screen and (max-width: 1200px) {
  #about {
    padding: 80px 5%;
  }
}
