/* dark theme */
#about {
  padding-top: 80px;
}
.about-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.about-text {
  text-align: justify;
  padding-top: 50px;
}

@media screen and (max-width: 800px) {
  #about {
    padding-top: 80px;
  }  
}