/* dark theme */
.language-btn {
  background-color: var(--primary-dark);
  color: var(--title-dark);
  border: none;
  padding: 3px;
  margin: 15px 0;
  font-size: 1.15rem;
  cursor: pointer;
}
.language-btn.isActive {
  color: var(--orange-color);
}

/* light theme */
.light-theme .language-btn {
  background-color: var(--primary-light);
  color: var(--title-light);
}
.light-theme .language-btn.isActive {
  color: var(--orange-color);
}
