/* dark theme */
#profile-icons a {
  color: var(--clr-accent-dark);
}
.icon {
  font-size: clamp(1rem, 4vw, 3rem);
}
.github:hover {
  color: var(--clr-github);
}
.linkedin:hover {
  color: var(--clr-linkedin);
}
.discord:hover {
  color: var(--clr-discord);
}
.twitter:hover {
  color: var(--clr-twitter);
}
.telegram:hover {
  color: var(--clr-telegram);
}

/* light theme */
.light-theme #profile-icons a {
  color: var(--clr-accent-light);
}
