/* dark theme */
#home {
  position: relative;
  width: 100%;
  height: 100vh;
}
/* background */
.background {
  position: relative;
  width: 100%;
  height: 100%;
}
.background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  --s: 37px; /* control the size */
  --c: #0000, var(--primary-dark) 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) var(--secondary-dark);
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
  filter: opacity(0.5);
}
.background-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
}
.background-shape svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 106px;
}
.background-shape .shape-fill {
  fill: var(--secondary-dark);
}
/* container */
.home-grid {
  width: 100%;
  position: fixed;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-rows: 400px auto;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  padding-inline: 15%;
}
.home-icons {
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: flex-end;
}
.home-icons #profile-icons {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.home-icons > * {
  cursor: pointer;
  padding: 5px;
}
.home-main {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}
.home-main .title {
  text-align: left;
}
.btn-telegram {
  margin-top: 20px;
}
.home--img-div {
  grid-row: 1/2;
  grid-column: 3/4;
}
.home-avatar {
  height: 300px;
}
/* scroll down icon */
.home-scrollDown {
  grid-row: 2/3;
  grid-column: 1/2;
  cursor: pointer;
  padding-top: 100px;
}
.mouse {
  background-color: var(--secondary-dark);
  padding: 10px 15px;
  height: 35px;
  border: 2px solid var(--title-dark);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--title-dark);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

/* light theme */
.light-theme .background::before {
  --c: #0000, var(--primary-light) 0.5deg 119.5deg, #0000 120deg;
  background-color: var(--secondary-light);
  filter: opacity(0.9);
}
.light-theme .background-shape .shape-fill {
  fill: var(--secondary-light);
}
.light-theme .home-title {
  color: var(--title-light);
}
.light-theme .home-subtitle {
  color: var(--text-light);
}
.light-theme .mouse {
  background-color: var(--primary-light);
  border-color: var(--title-light);
}
.light-theme .scroller {
  background-color: var(--title-light);
}

@supports (animation-timeline: view()) {
  .background::before {
    animation: linear home-background-animation forwards;
    animation-timeline: view();
    animation-range: exit;
  }
}
@media screen and (max-width: 1500px) {
  #home {
    height: 120vh;
  }
  .home-grid {
    padding-inline: 5%;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 1100px) { 
  .home-grid {
    width: 80%;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 10% 90%;
    gap: 20px;
  }
  .home-icons {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: flex-start;
  }
  .home-main {
    grid-row: 2/3;
    grid-column: 1/3;
    padding: 10px 0 0 0;
  }
  .home-img-div {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .home-avatar {
    height: 200px;
  }
  .home-scrollDown {
    display: none;
  }
}
