/* dark theme */
#contact {
    padding: 80px 15%;
   background-color: var(--secondary-dark);
}
.contact-div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin: 40px;
}
.contact-card {
    display: flex;
    flex-direction: column;
    place-items: center;
}
.contact-icon {
    color: var(--orange-color);
    padding-bottom: 20px;    
}
.contact-card-title {
    font-size: 1.25rem;
    color: var(--title-dark);

}
.contact-card-data {
    font-size: 0.75rem;
    color: var(--text-dark);
}
.contact-card-link {
    text-decoration: none;
    color: var(--text-dark);
    padding: 20px 0 10px 0;
}
.contact-card-link:hover {
    color: var(--orange-color);
}

/* light theme */
.light-theme #contact {
   background-color: var(--secondary-light);
}
.light-theme .contact-card-title, .light-theme .contact-card-data {
    color: var(--title-light);
}
.light-theme .contact-card-link {
    color: var(--text-light);
}

@media screen and (max-width: 1000px) {
    #contact {
      padding: 80px 5%;
    }  
  }