/* dark theme */
#contact {
  position: relative;
  padding-top: calc(var(--header-height) + 20px);
  padding-bottom: var(--spacer-lg);
  padding-inline: 20%;
  background-color: var(--clr-bg-dark);
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.contact-div {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacer);
  padding-block: var(--spacer-lg);
}
.contact-card {
  height: 280px;
  width: 260px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-top: var(--spacer);
  background-color: var(--clr-secondary20-dark);
  border-radius: var(--br);
}
.contact-icon {
  font-size: var(--fs-large);
  color: var(--clr-accent-dark);
}
.contact-card-title {
  font-size: var(--fs-medium);
}
.contact-card:nth-child(3) .contact-icon.copy {
  font-size: var(--fs-small);
  margin-block: auto;
}
.contact-card:nth-child(3) .contact-card-data {
  cursor: copy;
  gap: 15px;
}
.contact-card-link {
  gap: 5px;
  text-decoration: none;
  color: var(--clr-text-dark);
  padding-block: var(--spacer);
}
.contact-card-link:hover {
  color: var(--clr-primary-dark);
}
.contact-email-bubble {
  display: none;
}
.contact-email-bubble.show {
  display: block;
  position: relative;
  margin-inline: 15px;
  top: 80px;
  padding: 10px;
  background-color: var(--clr-bg-dark);
  box-shadow: var(--clr-text-dark) 0px 3px 8px;
  border: 2px solid var(--clr-accent-dark);
  border-radius: var(--br);
  text-align: center;
  font-size: 0.75rem;
}
.contact-email-bubble.show.copied-error {
  border-color: var(--clr-error);
}
.contact-email-bubble::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--clr-accent-dark);
  height: 6px;
  width: 100%;
  transform-origin: left;
  animation: changeTimerPopupWidth 3s linear;
}

@keyframes changeTimerPopupWidth {
  from {
    scale: 1 100%;
  }
  to {
    scale: 0 100%;
  }
}

/* light theme */
.light-theme #contact {
  background-color: var(--clr-bg-light);
}
.light-theme .contact-card {
  background-color: var(--clr-secondary20-light);
}
.light-theme .contact-icon {
  color: var(--clr-primary-light);
}
.light-theme .contact-card-link {
  color: var(--clr-text-light);
}
.light-theme .contact-card-link:hover {
  color: var(--clr-accent-light);
}
.light-theme .contact-email-bubble.show {
  background-color: var(--clr-bg-light);
  box-shadow: var(--clr-text-light) 0px 3px 8px;
  border: 2px solid var(--clr-primary-light);
}
.light-theme .contact-email-bubble::before {
  background-color: var(--clr-primary-light);
}

@media screen and (max-width: 1200px) {
  #contact {
    padding-inline: 5%;
  }
  .contact-card {
    height: 240px;
  }
}
