/* dark theme */
#header {
  height: var(--header-height);
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding-inline: 20%;
  z-index: 3;
  background-color: var(--clr-bg-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger,
.settings {
  display: none;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  letter-spacing: -2px;
}
.nav-links,
.nav-icons {
  background-color: var(--clr-bg-dark);
  list-style: none;
  gap: var(--spacer);
}
.navbar .logo {
  max-width: var(--fs-large);
  max-height: var(--fs-large);
}
.navbar .logo path {
  fill: var(--clr-text-dark);
}
.navbar:hover .logo path {
  fill-opacity: 0;
  stroke: var(--clr-secondary-dark);
  stroke-width: 2;
  stroke-dasharray: 870;
  stroke-dashoffset: 870;
  animation: draw 4s infinite linear;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.nav-links li {
  position: relative;
}
.nav-link {
  color: var(--clr-text-dark);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--clr-primary-dark);
  cursor: pointer;
}
.nav-link::before {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--clr-primary-dark);
  width: 0%;
  position: absolute;
  transition: all 0.3s ease-in-out;
  margin: 0 0 0 10%;
}
.nav-link:hover::before {
  width: 80%;
}
.progressMainWrapper {
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}
.progressMainStyle {
  height: 5px;
  background: linear-gradient(
    to right,
    var(--clr-primary-dark),
    var(--clr-secondary-dark)
  );
  width: 15%;
}

/* light theme */
.light-theme #header {
  background-color: var(--clr-bg-light);
}
.light-theme .nav-links,
.light-theme .nav-icons {
  background-color: var(--clr-bg-light);
}
.light-theme .navbar .logo path {
  fill: var(--clr-text-light);
}
.light-theme .navbar:hover .logo path {
  stroke: var(--clr-secondary-light);
}
.light-theme .nav-link {
  color: var(--clr-text-light);
}
.light-theme .nav-link:hover {
  color: var(--clr-secondary-light);
}
.light-theme .nav-link::before {
  background-color: var(--clr-secondary-light);
}
.light-theme .progressMainStyle {
  background: linear-gradient(
    to right,
    var(--clr-primary-light),
    var(--clr-secondary-light)
  );
}

@media screen and (max-width: 1200px) {
  #header {
    padding-inline: 5%;
    flex-direction: row-reverse;
  }
  .navbar {
    flex-direction: row-reverse;
  }
  .nav-icons {
    flex-direction: row-reverse;
  }
  .hamburger,
  .settings {
    display: block;
    cursor: pointer;
    z-index: 5;
  }
  .settings {
    font-size: 2rem;
  }
  .line {
    fill: none;
    stroke: var(--clr-text-dark);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .nav-links,
  .nav-links.setting {
    position: fixed;
    box-shadow: var(--clr-bg-dark) 0px 13px 27px -5px,
      var(--clr-text-dark) 0px 8px 16px -8px;
    top: 0;
    flex-direction: column;
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 4;
  }
  .nav-links {
    width: 100vw;
    min-height: 40vh;
    left: 0;
    clip-path: circle(50px at 90% -60%);
    -webkit-clip-path: circle(50px at 90% -10%);
  }
  .nav-links.setting {
    width: 25vw;
    min-height: 30dvh;
    left: 0;
    clip-path: circle(50px at 90% -60%);
    -webkit-clip-path: circle(50px at 90% -10%);
  }
  .nav-links.open, .nav-links.setting.openSettings {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }

  /* light theme */
  .light-theme .line {
    stroke: var(--clr-text-light);
  }
  .light-theme .nav-links {
    box-shadow: var(--clr-bg-light) 0px 13px 27px -5px,
      var(--clr-text-light) 0px 8px 16px -8px;
  }
}
