/* dark theme */
#footer {
  position: relative;
  background-color: var(--clr-bg-dark);
  padding-inline: 20%;
  padding-block: var(--spacer-md);
  overflow: hidden;
}
#footer > * {
  overflow: hidden;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacer);
  padding-block: var(--spacer-lg);
}
.footer-links li {
  list-style: none;
}
.footer-link {
  text-decoration: none;
  color: var(--clr-text-dark);
}
.footer-link:hover {
  color: var(--clr-primary-dark);
}
.footer-icons div {
  display: flex;
  justify-content: center;
  gap: var(--spacer);
}
.footer-icons div > * {
  cursor: pointer;
}
.footer-copyright {
  text-align: center;
  padding-block: var(--spacer-md);
}
.shadow {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 100px;
  height: 5px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);
  border-radius: 100%;
  background: linear-gradient(
    to right,
    var(--clr-primary-dark),
    var(--clr-accent-dark)
  );
}
.footer-copyright:hover {
  background: linear-gradient(
    to right,
    var(--clr-primary-dark),
    var(--clr-accent-dark)
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.footer-copyright:hover .shadow {
  width: 200px;
}
/* light theme */
.light-theme #footer {
  background-color: var(--clr-bg-light);
}
.light-theme .footer-link {
  color: var(--clr-text-light);
}
.light-theme .footer-link:hover {
  color: var(--clr-secondary-light);
}

@media screen and (max-width: 1200px) {
  #footer {
    padding-inline: 5%;
  }
}
@media screen and (max-width: 800px) {
  .footer-links {
    flex-direction: column;
    justify-content: center;
  }
  .footer-icons div {
    gap: 10px;
  }
}
