.sun-icon, .moon-icon {
    cursor: pointer;
    font-size: var(--fs-medium);
}
.sun-icon:hover, .moon-icon:hover {
    color: var(--clr-accent-dark);
}
.light-theme .sun-icon:hover, .light-theme .moon-icon:hover {
    color: var(--clr-accent-light);
}