/* dark theme */
.language-btn {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-dark);
  border: none;
  font-size: var(--fs-small);
  cursor: pointer;
  transition: all 1s ease-out;
}
.language-btn.isActive {
  color: var(--clr-accent-dark);
}
.language-btn:first-child {
  padding-right: 20px;
}

/* light theme */
.light-theme .language-btn.isActive {
  color: var(--clr-accent-light);
}
.light-theme .language-btn {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-light);
}
