@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-light: #fbf9f9;
  --primary-dark: #171717;
  --secondary-dark: #1f1f1f;
  --secondary-light: #f8dec8;
  --title-light: #414141;
  --title-dark: #fbf9f9;
  --subtitle-light: #686767;
  --subtitle-dark: #808080;
  --text-ligth: #cfcfc2;
  --text-dark: #969696;
  --orange-color: #e57c23;
  --github-color: purple;
  --linkedin-color: #0e76a8;
  --discord-color: #7289da;
  --twitter-color: #1da1f2;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--primary-dark);
  color: var(--text-dark);
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.title {
  color: var(--title-dark);
  text-align: center;
  font-size: 3.5rem;
}
.subtitle {
  color: var(--subtitle-dark);
  text-align: center;
  padding: 20px 0;
}
.title-underline {
  color: var(--orange-color);
  font-weight: bold;
  animation: piscar 1s infinite;
}
.disable-selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
a::selection,
p::selection {
  background-color: var(--orange-color);
  color: var(--primary-light);
}
h2::selection,
h3::selection,
h4::selection {
  color: var(--text-dark);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes piscar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* light theme */
body.light-theme {
  background-color: var(--primary-light);
  color: var(--text-light);
}
.light-theme .title {
  color: var(--title-light);
}
.light-theme .subtitle {
  color: var(--subtitle-light);
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 3rem;
  }
}
