@import url("https://fonts.googleapis.com/css2?family=Sintony&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --clr-bg-dark: #03050d;
  --clr-primary-dark: #839de4;
  --clr-secondary-dark: #431d87;
  --clr-secondary20-dark: hsl(262, 65%, 32%, 20%);
  --clr-accent-dark: #924cd8;
  --clr-text-dark: #dbe1f7;

  --clr-bg-light: #f9f6ee;
  --clr-primary-light: #1c367d;
  --clr-secondary-light: #9f78e2;
  --clr-secondary20-light: hsl(224, 63%, 30%, 20%);
  --clr-accent-light: #6e27b4;
  --clr-text-light: #080f26;

  --clr-github: #3386dd;
  --clr-linkedin: #0e76a8;
  --clr-discord: #7289da;
  --clr-twitter: #1da1f2;
  --clr-telegram: #229ed9;

  --clr-error: #ce0606;

  --br: 10px;

  --ff-title: "Sintony", sans-serif;
  --ff: "Poppins", sans-serif;

  --spacer: 1rem;
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 3);

  --header-height: 80px;

  --fs-small: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --fs-medium: clamp(1.35rem, calc(1.24rem + 0.55vw), 1.67rem);
  --fs-large: clamp(2.25rem, calc(2vw + 1.5rem), 3.25rem);
}
html,
body {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-dark);
  font-family: var(--ff);
  font-size: var(--fs-small);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.title {
  text-align: center;
  font-family: var(--ff-title);
  font-size: var(--fs-large);
  font-weight: bold;
  letter-spacing: 30px;
}
.subtitle {
  text-align: center;
  font-family: var(--ff-title);
  font-size: var(--fs-medium);
  padding-block: var(--spacer-lg);
}
.title-underline {
  color: var(--clr-accent-dark);
  font-weight: bold;
  animation: blink 1s infinite;
}
.disable-selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
button,
a {
  -webkit-tap-highlight-color: transparent;
}
a::selection,
p::selection {
  background-color: var(--clr-accent-dark);
}
h2::selection,
h3::selection,
h4::selection {
  color: var(--clr-primary-dark);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* light theme */
body.light-theme {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-light);
}
.light-theme .title-underline {
  color: var(--clr-accent-light);
}
.light-theme a::selection,
.light-theme p::selection {
  background-color: var(--clr-accent-light);
  color: var(--clr-bg-light);
}
.light-theme h2::selection,
.light-theme h3::selection,
.light-theme h4::selection {
  color: var(--clr-primary-light);
}
